<h2>For IT:</h2>
<br>
<h3>Please Take Action ASAP</h3>
<br>
<p>You are receiving this as a notification that new images have been optimized and uploaded to the S3 Bucket. Please take appropriate action for these images.</p>
